In [3]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

In [6]:
dataset = sm.datasets.get_rdataset('USArrests');

In [8]:
dataset.data

                Murder  Assault  UrbanPop  Rape
Alabama           13.2      236        58  21.2
Alaska            10.0      263        48  44.5
Arizona            8.1      294        80  31.0
Arkansas           8.8      190        50  19.5
California         9.0      276        91  40.6
Colorado           7.9      204        78  38.7
Connecticut        3.3      110        77  11.1
Delaware           5.9      238        72  15.8
Florida           15.4      335        80  31.9
Georgia           17.4      211        60  25.8
Hawaii             5.3       46        83  20.2
Idaho              2.6      120        54  14.2
Illinois          10.4      249        83  24.0
Indiana            7.2      113        65  21.0
Iowa               2.2       56        57  11.3
Kansas             6.0      115        66  18.0
Kentucky           9.7      109        52  16.3
Louisiana         15.4      249        66  22.2
Maine              2.1       83        51   7.8
Maryland          11.3      300        67  27.8
Massachusetts      4.4      149        85  16.3
Michigan          12.1      255        74  35.1
Minnesota          2.7       72        66  14.9
Mississippi       16.1      259        44  17.1
Missouri           9.0      178        70  28.2
Montana            6.0      109        53  16.4
Nebraska           4.3      102        62  16.5
Nevada            12.2      252        81  46.0
New Hampshire      2.1       57        56   9.5
New Jersey         7.4      159        89  18.8
New Mexico        11.4      285        70  32.1
New York          11.1      254        86  26.1
North Carolina    13.0      337        45  16.1
North Dakota       0.8       45        44   7.3
Ohio               7.3      120        75  21.4
Oklahoma           6.6      151        68  20.0
Oregon             4.9      159        67  29.3
Pennsylvania       6.3      106        72  14.9
Rhode Island       3.4      174        87   8.3
South Carolina    14.4      279        48  22.5
South Dakota       3.8       86        45  12.8
Tennessee         13.2      188        59  26.9
Texas             12.7      201        80  25.5
Utah               3.2      120        80  22.9
Vermont            2.2       48        32  11.2
Virginia           8.5      156        63  20.7
Washington         4.0      145        73  26.2
West Virginia      5.7       81        39   9.3
Wisconsin          2.6       53        66  10.8
Wyoming            6.8      161        60  15.6

In [9]:
import PCA from sklearn.decomposition

SyntaxError: invalid syntax (<ipython-input-9-da24f2d9d44c>, line 1)

In [10]:
from sklearn.decomposition import PCA

In [11]:
PCA

sklearn.decomposition.pca.PCA

In [12]:
?PCA

In [56]:
pca = PCA(n_components=2, svd_solver='full')

In [23]:
usarrests = dataset.data

In [32]:
usarrests_std = (usarrests - usarrests.mean()) / usarrests.std()

In [57]:
pca.fit(usarrests_std)

PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
  svd_solver='full', tol=0.0, whiten=False)

In [58]:
pca.components_

array([[ 0.53589947,  0.58318363,  0.27819087,  0.54343209],
       [ 0.41818087,  0.1879856 , -0.87280619, -0.16731864]])

In [68]:
usarrests_std.describe()

             Murder       Assault      UrbanPop          Rape
count  5.000000e+01  5.000000e+01  5.000000e+01  5.000000e+01
mean   1.543210e-16  1.115774e-16 -4.307665e-16  8.704149e-16
std    1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
min   -1.604405e+00 -1.509042e+00 -2.317136e+00 -1.487447e+00
25%   -8.524835e-01 -7.410815e-01 -7.627068e-01 -6.573508e-01
50%   -1.235217e-01 -1.411127e-01  3.177945e-02 -1.208577e-01
75%    7.948553e-01  9.388312e-01  8.435371e-01  5.277383e-01
max    2.206860e+00  1.994776e+00  1.758923e+00  2.644350e+00

In [74]:
usarrests_std.loc['California']

Murder      0.278268
Assault     1.262814
UrbanPop    1.758923
Rape        2.067820
Name: California, dtype: float64

In [75]:
pca.components_

array([[ 0.53589947,  0.58318363,  0.27819087,  0.54343209],
       [ 0.41818087,  0.1879856 , -0.87280619, -0.16731864]])

In [77]:
X = usarrests_std.loc['California'] * pca.components_[0]
Y = usarrests_std.loc['California'] * pca.components_[1]
(X, Y)

(Murder      0.149124
 Assault     0.736453
 UrbanPop    0.489316
 Rape        1.123720
 Name: California, dtype: float64, Murder      0.116366
 Assault     0.237391
 UrbanPop   -1.535199
 Rape       -0.345985
 Name: California, dtype: float64)

In [78]:
X.sum()

2.498612848258582

In [79]:
Y.sum()

-1.527426720824793

In [92]:
X = usarrests_std.apply(lambda x: x * pca.components_[0], axis=1).sum(axis=1)
Y = usarrests_std.apply(lambda y: y * pca.components_[1], axis=1).sum(axis=1)

In [93]:
X.shape

(50,)

In [94]:
import matplotlib.pyplot as plt

In [98]:
import seaborn as sns

In [99]:
%matplotlib inline

In [102]:
plt.scatter?

Index(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype='object')